.dashboard {
    flex-grow: 1;
    margin-left: 110px;
    padding: 6px;
    background-color: #ffffff;
    height: 98%;
    width: calc(100% - 110px);
}

.dashboard-header {
    border-radius: 12px;
    border: 1px solid #cdcaca;
    background-color: #f0efef;

}

.dashboard-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .dashboard {
        width: 100%;
    }

    .dashboard-content {
        flex-direction: column;
        gap: 12px;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .dashboard-header {
        width: 100%;

    }
}
